/* Reset some default browser styles */
/* body, h1, h2, p, ul, li {
    margin: 5px;
    padding: 4px;
} */

/* Apply a background color and font styles to the whole page */
body {
    font-family: Calisto MT, sans-serif;
    background-color: #f2f2f2;
    margin: 0 auto; /* Center the content horizontally */
    padding: 0;
    text-align: justify;
    max-width: 800px; /* Set a maximum width for the content */
    font-size: 17px;    
}

/* Style the header................................ */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1.2);
    margin-top: 6px;
    margin-bottom: -10px;
}
/* Style the header title */
header h1 {
    font-size: 33px;
    color: white
}
@keyframes colorChange {
    10% {
      color: black;
    }
    20% {
      color: navy;
    }
    30% {
      color: indigo;
    }
    40% {
      color: blue;
    }
    50% {
      color: green;
    }
    60% {
      color: orange;
    }
    70% {
      color: yellow;
    }
    80% {
      color: magenta;
    }
    90% {
      color: red;
    }
    100% {
      color: maroon;
    }
}
h1 {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-bottom: 10px;
  margin-top: -30px;
  animation-name: colorChange;
  animation-duration: 15s;
  animation-iteration-count: infinite;  
}

/* Style the navigation menu */
nav ul {
    background-color: #444;
    list-style: none;
    text-align: center;
    padding: 10px 0px;
    margin-bottom: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1.5);
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #00FF00;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

/* Style the main content */
main {
    max-width: 800px;
    margin: 5px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
/* Add hover effect to navigation links */
nav a:hover {
    text-decoration: underline;
    color: white;
    font-size: 15px;	
}

/* Style the main content */
main {
    max-width: 800px;
    margin: 0px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

/* Style the sections */
section {
    margin-bottom: 20px;
    padding: 0 5px;
}

/* Style for the active page */
#navigation ul li.active a {
  color: red;
  font-weight: bold;
}

h2 {
  margin: 0px;
  font-family: Arial, sans-serif;
  text-align: center;
}
h3 {
  margin: 0px;
  margin-top: 5px;
  margin-bottom: -15px;
  font-family: Arial, sans-serif;
  text-align: center;
  color: teal;
}
.gs{
  padding: 0px;
  margin: 2px;
  font-weight: normal;
}

/* Add styles for the Governor's picture */
.governor-image {
    float: left;
    margin-right: 10px;
    margin-top: 20px;
    width: 150px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
}

.content {
    padding: 10px;
    margin-right: -20px;
    margin-left: -20px;
    margin-top: 15px;
}

/* Governor Signature */
.gov-sig {
  padding: 0px;
  margin-top: 5px;
  font-family: Calisto MT, sans-serif;
  text-align: center;
  margin-bottom: -40px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #00FF00;
    padding: 0px 0px;
    height: 40px;
    font-family: "Arial", sans-serif;
    font-size: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 0px auto;
    padding: 0px 4px;
    margin-top: 2px;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.footer-logo img {
    width: 57px; /* Adjust the logo width as needed */
    height: auto;
    margin-right: 5px;
    margin-left: -5px;
}

.footer-text {
    font-size: 12px;
    font-family: "Arial", sans-serif;
}

.footer-text a {
    color: #00FF00;
    text-decoration: none;
}

.footer-text a:hover {
    text-decoration: underline;
    color: yellow;
}